
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrderLabel">Create or edit a Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.order.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.order.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.order.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                    ng-model="vm.order.note"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalPrice">Total Price</label>
            <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                    ng-model="vm.order.totalPrice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.order.status" id="field_status" required>
                <option value="NEW">NEW</option>
                <option value="PENDING">PENDING</option>
                <option value="PAID">PAID</option>
                <option value="CANCELLED">CANCELLED</option>
                <option value="SHIPPED">SHIPPED</option>
                <option value="COMPLETE">COMPLETE</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.order.user" ng-options="user as user.login for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_coupon">Coupon</label>
            <select class="form-control" id="field_coupon" name="coupon" ng-model="vm.order.coupon" ng-options="coupon as coupon.code for coupon in vm.coupons track by coupon.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_shipment">Shipment</label>
            <select class="form-control" id="field_shipment" name="shipment" ng-model="vm.order.shipment" ng-options="shipment as shipment.code for shipment in vm.shipments | orderBy:'id' track by shipment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_shippingAddress">Shipping Address</label>
            <select class="form-control" id="field_shippingAddress" name="shippingAddress" ng-model="vm.order.shippingAddress" ng-options="shippingAddress as shippingAddress.address for shippingAddress in vm.shippingaddresses track by shippingAddress.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
